<style>
h2, h3 {
	font-family: Arial, sans-serif;
	color: #33334d;
}

body {
	background-color: #76c6f7;
}
.imageContainer{
	width:auto;
	height:1500px;
	background-image: url(https://static.pexels.com/photos/2946/dawn-nature-sunset-trees.jpg);
}

hr {
	border:0px;
	color: #33334d;
	background-color: #4286f4;
	height: 2px;
	width: 75%;
}

.container {
	display: block;
	text-align: center;
	width: 100%;
}

.box {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #5baf5e;
	border-style: inset;
	border-radius: 25px;
    
}

.boxText {
	font-family: Arial, sans-serif;
	font-size: 21px;
	color: white;	
}

a:link {
	color: #f2f2f2;
	text-decoration: none;
}
a:visited {
	color: #a2a2c3;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	ease: .5s;
}

#mainText {
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
}
.fullPageImage {
	height: auto;
	width: auto;
}
feelingPanicPage {
	background-image: url(https://i.ytimg.com/vi/2onbvQEbb4k/maxresdefault.jpg);
	width: 100%;
	height: 100%;
	color: white;
}
.feelingPanicPage p{
	color:white;
}
.feelingPanicPage h2{
	color:white;
}
.feelingAnxietyPage {
	background-image: url(https://images3.alphacoders.com/112/thumb-1920-112487.jpg);
	width: 100%;
	height: 100%;
}
.feelingDepressionPage {
	background-image: url(https://images3.alphacoders.com/112/thumb-1920-112487.jpg);
	width: 100%;
	height: 100%;
	color: white;
}
.feelingDepressionPage p{
	color: white;
}
.feelingDepressionPage h2{
	color: white;
}
.transBox{
	
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.7;
}
.transBox p,h2 {
	margin: 5%;
	font-weight: bold;
	color: #000000;
}
</style>
